body{
  background-color: rgb(164, 164, 228);
}
.main{
  gap: 10px;
  justify-items: center;

}
.Kurs{
  background-color: rgb(238, 243, 246);
  width: 200px;
  border-radius: 5px;
  justify-items: center;
  padding: 10px;
}
.Kurs p{
line-height: 0.5;
}
.kursdiv{
  width: 180px;
  padding: 0px 10px 10px 10px;
}

.index{
  margin-top: 10px;
  background-color: rgb(238, 243, 246);
  width: 350px;
  border-radius: 5px;
  padding-left: 20px;
}

